NODE_ENV=development
PORT=8000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/ecommerce_db?schema=public"

JWT_SECRET=
JWT_EXPIRES_IN=7d


FRONTEND_ORIGIN=http://localhost:5173

# Get the commercial License to access the Complete Envs 👉 https://techwithemma.gumroad.com/l/cxigr
